<%= render 'inicio/header' %>
  <!-- Banner superior -->
  <section class="fondo-desigualdades">
    <div class="container">
      <div class="bloque"> <%= image_tag("logo-desigualdades-2018.png", class: "img-responsive", alt: "Informe Desigualdades 2018") %> </div>
    </div>
  </section>
  <!-- Fin de banner superior -->
  <!-- Sección superior -->
  <section class="section helping-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Sección documentos -->
          <div class="titulo-desigualdades">
            <h3>Descarga los documentos</h3>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
              <%= image_tag("portada-informe.jpg", class: "img-responsive") %>
            </div>
            <div class="col-md-7">
              <h4>Desigualdades 2018</h4>
              <br>
              <p>Este informe analiza la manera en que se acumulan e interactúan las desigualdades en el curso de vida de las personas en México. Se presenta un análisis actual y retrospectivo, a partir de 2000, con la intención de enriquecer el debate
                público y las plataformas de los candidatos en las elecciones presidenciales de 2018 en México.</p>
              <p style="text-align:left"><a href="/informe-desigualdades-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Informe Desigualdades 2018</span> </a></p>
              <p style="text-align:left"><a href="/inequalities-in-mexico-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Inequialities in Mexico 2018</span> </a></p>
              <p style="text-align:left"><a href="/resumen-ejecutivo-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Resumen Ejecutivo</span> </a></p>
              <p style="text-align:left"><a href="/informacion-colaboradores.jpg" target="_blank" class="enlace"><span class="flaticon-open-book">Información sobre colaboradoras y colaboradores</span> </a></p>
              <p style="text-align:left"><a href="/Infografias_desigualdades.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Descarga las infografías</span> </a></p>
              <p style="text-align:left"><a href="/Inequalities_infographies.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Download the infographics</span> </a></p>
            </div>
          </div>
          <!-- Fin de sección documentos -->

     <!-- Sección video Informe -->
				<div class="row" style="margin-top:35px;">
				<div class="col-xs-12 col-md-4">
          <div class="titulo-desigualdades vids-juntos">
            <h3>Desigualdades en México 2018: una mirada interdisciplinaria</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-inf"></div>
                </div>
              </div>
            </div>
          </div>
				</div>
				<div class="col-xs-12 col-md-4">
          <div class="titulo-desigualdades vids-juntos">
            <h3>Legados de desigualdad en México 2018</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-doc3"></div>
                </div>
              </div>
            </div>
          </div>
				</div>
				<div class="col-xs-12 col-md-4">
          <div class="titulo-desigualdades vids-juntos">
            <h3>Nuevos desafíos para la equidad en México 2018</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-doc2"></div>
                </div>
              </div>
            </div>
          </div>
				</div>
				</div>
          <!-- Fin de sección video Informe -->

     <!-- Sección video Laura -->
				<div class="row">
				<div class="col-xs-12 col-md-6">
          <div class="titulo-desigualdades vids-juntos-b">
            <h3>Desigualdades en México 2018. Entrecruzamiento y acumulación de desventajas</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-talk"></div>
                </div>
              </div>
            </div>
          </div>
				</div>
          <!-- Fin de sección video Laura -->

          <!-- Sección video -->
				<div class="col-xs-12 col-md-6">
      		<div class="titulo-desigualdades vids-juntos-b">
            <h3>Dos historias de vida. María y Matilde</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-historias">  
									</div>
                </div>
              </div>
            </div>
          </div>
				</div>
				</div>

          <!-- Fin de sección video -->

      </div>

<% if false %>
      <!-- Sección Twitter Escritorio -->
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="titulo-desigualdades">
            <h3>Participa con el #<span style="text-transform: lowercase;">desigualdad</span>ES</h3>
          </div>
          <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
              <a href="https://twitter.com/intent/tweet?button_hashtag=desigualdadES&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #desigualdadES</a>
              <br>
              <a class="twitter-timeline" data-lang="es" data-width="400" data-height="880" data-dnt="true" data-theme="light" data-link-color="#6d959d" href="https://twitter.com/des_igualdades?ref_src=twsrc%5Etfw">Tweets by des_igualdades</a>
            </div>
          </div>
        </div>
        <!-- Fin Sección Twitter Escritorio -->
<% end %>
      </div>

    </div>
  </section>
  <!-- Fin de sección superior -->

  <!-- Sección de los medios -->
  <div class="container ">

		<!-- Sección transmisión -->
		<div class="titulo-desigualdades">
		  <h3>Videos de la grabación de la presentación</h3>
		</div>
		<div class="row" id="vids-pres">
	
		</div>
		<!-- Fin de sección transmisión -->
	</div>

  <div class="container ">
    <div class="titulo-desigualdades ">
      <h3>Medios</h3>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3"><img src="<%= image_url('animal-politico.jpg') %>" alt="Medio de comunicación" class="img-responsive"><br>
              </div>
            </div>
          </div>
        </div>
        <h4 class="text-center">Reportajes especiales</h4>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2><a href="https://www.animalpolitico.com/2018/06/el-sueno-mexicano-solo-2-de-los-pobres-pueden-llegar-a-ser-ricos/" target="_blank">El sueño mexicano: solo 2% de los pobres pueden llegar a ser ricos</a></h2><br>
          <a href="https://www.animalpolitico.com/2018/06/el-sueno-mexicano-solo-2-de-los-pobres-pueden-llegar-a-ser-ricos/" target="_blank" class="btn-two">Ver reportaje</a>
          <br class="visible-xs-block">
          <br class="visible-xs-block">
        </div>
        <div class="col-md-6">
          <h2><a href="https://www.animalpolitico.com/no-basta-con-echarle-ganas/" target="_blank">No basta con echarle ganas: Se acumulan las desigualdades en México</a></h2><br>
          <a href="https://www.animalpolitico.com/no-basta-con-echarle-ganas/" target="_blank" class="btn-two">Ver reportaje</a>
        </div>
      </div>

    </div>
  </div>


  <!-- Inicia Medios -->
  <section class="section gallery-section-two ">
    <div class="container ">
      <div class="row ">
        <div class="gallery-menu ">
          <ul>
						<% @filtros.order(updated_at: :asc).each do |f| %>
            <li class="<%= 'filtro' +  (@filtros.order(updated_at: :asc).first == f ? ' is_selected' : '') %>" data-filter="<%= '.' + f.clase %>"><%= f.filtro %></li>
						<% end %>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="gallery ">
          <div class="all-gallery-items margen-superior ">
						<% @noticias.each do |n| %>
            <div class="single-item col-md-3 col-sm-12 <%= Filtro.where(filtro: n.filtro).first.clase %>">
              <div class="gallery-img">
                <div class="customer-pic"><%= image_tag(Medio.where(fuente: n.fuente).first.imagen.url) %></div>
                <div class="review-description">
                  <div class="review-heading">
                    <h4><%= n.tipo %></h4></div>
                  <p class="review-date izquierda"><%= n.titulo %><br><i><%= l n.fecha, format: :customshort %></i></p>
                  <a href="<%= n.link %>" class="btn-two" target="_blank">Ver <%= n.tipo %></a>
                </div>
              </div>
            </div>
						<% end %>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin de medios -->

<% if false %>
  <!-- Sección Twitter Móviles -->
  <section class="section helping-section visible-sm-block visible-xs-block">
    <div class="container ">
      <div class="col-sm-12">
        <div class="titulo-desigualdades">
          <h3>Participa con el #<span style="text-transform: lowercase;">desigualdad</span>ES</h3>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <a href="https://twitter.com/intent/tweet?button_hashtag=desigualdadES&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #desigualdadES</a>
            <br>
            <a class="twitter-timeline" data-lang="es" data-width="400" data-height="880" data-dnt="true" data-theme="light" data-link-color="#6d959d" href="https://twitter.com/des_igualdades?ref_src=twsrc%5Etfw">Tweets by des_igualdades</a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin Sección Twitter Móviles -->
<% end %>
<script>
$(document).ready(function(){
	$(window).on("resize",function(){
		[".vids-juntos", ".vids-juntos-b"].forEach(function(clase){
			$(clase).height(Math.max.apply(Math, [...document.querySelectorAll(clase + " h3")].map(function(o) { return o.offsetHeight })));
			$(clase).css({"position": "relative"});
			$(clase + " h3").css({"position": "absolute", "bottom": "0"});
		});
	});
	$(window).trigger("resize");
});
</script>
  <!-- Fin de medios -->
<%= render 'inicio/footer' %>


