<%= render 'inicio/header' %>
  <!-- Banner superior -->
  <section class="fondo-desigualdades">
    <div class="container">
      <div class="bloque"> <%= image_tag("logo-desigualdades-2018.png", class: "img-responsive", alt: "Informe Desigualdades 2018") %> </div>
    </div>
  </section>
  <!-- Fin de banner superior -->
  <!-- Sección superior -->
  <section class="section helping-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Sección documentos -->
          <div class="titulo-desigualdades">
            <h3>Descarga los documentos</h3>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
              <%= image_tag("portada-informe.jpg", class: "img-responsive") %>
            </div>
            <div class="col-md-7">
              <h4>Desigualdades 2018</h4>
              <br>
              <p>Este informe analiza la manera en que se acumulan e interactúan las desigualdades en el curso de vida de las personas en México. Se presenta un análisis actual y retrospectivo, a partir de 2000, con la intención de enriquecer el debate
                público y las plataformas de los candidatos en las elecciones presidenciales de 2018 en México.</p>
              <p style="text-align:left"><a href="/informe-desigualdades-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Informe Desigualdades 2018</span> </a></p>
              <p style="text-align:left"><a href="/resumen-ejecutivo-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Resumen Ejecutivo</span> </a></p>
              <p style="text-align:left"><a href="/informacion-colaboradores.jpg" target="_blank" class="enlace"><span class="flaticon-open-book">Información sobre colaboradoras y colaboradores</span> </a></p>
            </div>
          </div>
          <!-- Fin de sección documentos -->

     <!-- Sección video Laura -->
          <div class="titulo-desigualdades">
            <h3>Desigualdades en México 2018. Entrecruzamiento y acumulación de desventajas</h3>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-talk"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fin de sección video Laura -->

          <!-- Sección video -->
      		<div class="titulo-desigualdades">
            <h3>Dos historias de vida. María y Matilde</h3>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-historias">  
									</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fin de sección video -->

     			<!-- Sección transmisión -->
          <div class="titulo-desigualdades">
            <h3>Transmisión en vivo. Lanzamiento del Informe</h3>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
              <div class="gallery-img">
                <div class="sinlge-photo">
                  <div class="single-photo-inner" id="vid-stream"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fin de sección transmisión -->

      </div>

      <!-- Sección Twitter Escritorio -->
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="titulo-desigualdades">
            <h3>Participa con el #<span style="text-transform: lowercase;">desigualdad</span>ES</h3>
          </div>
          <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
              <a href="https://twitter.com/intent/tweet?button_hashtag=desigualdadES&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #desigualdadES</a>
              <br>
              <a class="twitter-timeline" data-lang="es" data-width="400" data-height="880" data-dnt="true" data-theme="light" data-link-color="#6d959d" href="https://twitter.com/des_igualdades?ref_src=twsrc%5Etfw">Tweets by des_igualdades</a>
            </div>
          </div>
        </div>
        <!-- Fin Sección Twitter Escritorio -->
      </div>

    </div>
  </section>
  <!-- Fin de sección superior -->

  <!-- Sección de los medios -->
  <div class="container ">
    <div class="row">
      <div class="titulo-desigualdades ">
        <h3>Medios</h3>
      </div>
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
          <div class="col-md-3 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3"><img src="<%= image_url('animal-politico.jpg')%>" alt="Medio de comunicación" class="img-responsive"><br></div>
          <div class="col-md-9 col-sm-10 col-xs-12">
            <h4>Reportaje especial</h4>
            <br>
            <h1><a href="https://www.animalpolitico.com/2018/06/el-sueno-mexicano-solo-2-de-los-pobres-pueden-llegar-a-ser-ricos/" target="_blank">El sueño mexicano: solo 2% de los pobres pueden llegar a ser ricos</a></h1><br>
            <a href="https://www.animalpolitico.com/2018/06/el-sueno-mexicano-solo-2-de-los-pobres-pueden-llegar-a-ser-ricos/" target="_blank" class="btn-two">Ver reportaje</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inicia Medios -->
  <section class="section gallery-section-two ">
    <div class="container ">
      <div class="row ">
        <div class="gallery-menu ">
          <ul>
						<% @filtros.order(updated_at: :asc).each do |f| %>
            <li class="filtro <%= @filtros.order(updated_at: :asc).first.filtro == f ? 'is-selected' : '' %>" data-filter="<%= '.' + f.clase %>"><%= f.filtro %></li>
						<% end %>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="gallery ">
          <div class="all-gallery-items margen-superior ">
						<% @noticias.each do |n| %>
            <div class="single-item col-md-3 col-sm-12 <%= Filtro.where(filtro: n.filtro).first.clase %>">
              <div class="gallery-img">
                <div class="customer-pic"><%= image_tag(Medio.where(fuente: n.fuente).first.imagen.url) %></div>
                <div class="review-description">
                  <div class="review-heading">
                    <h4><%= n.tipo %></h4></div>
                  <p class="review-date izquierda"><%= n.titulo %><br><i><%= l n.fecha, format: :customshort %></i></p>
                  <a href="<%= n.link %>" class="btn-two" target="_blank">Ver <%= n.tipo %></a>
                </div>
              </div>
            </div>
						<% end %>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin de medios -->

  <!-- Sección Twitter Móviles -->
  <section class="section helping-section visible-sm-block visible-xs-block">
    <div class="container ">
      <div class="col-sm-12">
        <div class="titulo-desigualdades">
          <h3>Participa con el #<span style="text-transform: lowercase;">desigualdad</span>ES</h3>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <a href="https://twitter.com/intent/tweet?button_hashtag=desigualdadES&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #desigualdadES</a>
            <br>
            <a class="twitter-timeline" data-lang="es" data-width="400" data-height="880" data-dnt="true" data-theme="light" data-link-color="#6d959d" href="https://twitter.com/des_igualdades?ref_src=twsrc%5Etfw">Tweets by des_igualdades</a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin Sección Twitter Móviles -->

  <!-- Fin de medios -->
<%= render 'inicio/footer' %>


