<%= render 'inicio/header' %>
  <!-- Banner superior -->
  <section class="fondo-desigualdades">
    <div class="container">
      <div class="bloque"> <%= image_tag("logo-desigualdades-2018.png", class: "img-responsive") %> </div>
    </div>
  </section>
  <!-- Fin de banner superior -->
  <!-- Sección superior -->
  <section class="section helping-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Sección documentos -->
          <div class="titulo-desigualdades">
            <h3>Descarga los documentos</h3>
          </div>
          <div class="row">
            <div class="col-md-5">
              <%= image_tag("portada-informe.jpg", class: "img-responsive") %>
            </div>
            <div class="col-md-7">
              <h4>Desigualdades 2018</h4>
              <br>
              <p>Este informe analiza la manera en que se acumulan e interactúan las desigualdades en el curso de vida de las personas en México. Se presenta un análisis actual y retrospectivo, a partir de 2000, con la intención de enriquecer el debate
                público y las plataformas de los candidatos en las elecciones presidenciales de 2018 en México.</p>
              <p style="text-align:left"><a href="/informe-desigualdades-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book">Informe Desigualdades 2018</span> </a></p>
              <p style="text-align:left"><a href="/resumen-ejecutivo-2018.pdf" target="_blank" class="enlace"><span class="flaticon-open-book"> Resumen Ejecutivo</span> </a></p>
            </div>
          </div>
          <!-- Fin de sección documentos -->
          <!-- Sección video -->
          <div class="titulo-desigualdades">
            <h3>Video: Dos historias de vida</h3>
          </div>
          <div class="gallery-img">
            <div class="single-photo">
              <div class="single-photo-inner"> <a href="https://www.youtube.com/embed/4Lc9eNzcopw?rel=0&amp;autoplay=1" data-rel="lightcase:grupoUnoVideos"> <%= image_tag("thumb-video.jpg", class: "img-responsive", alt: "Video Informe Desigualdades 2018") %> </a> </div>
            </div>
          </div>
          <!-- Fin de sección video -->

          <div class="titulo-desigualdades">
            <h3>Información sobre colaboradoras y colaboradores</h3>
					</div>
          <div class="single-photo">
            <div class="single-photo-inner"> <a href="https://agenda.colmex.mx/Actividad/874/lanzamiento-del-informe-desigualdades-en-mexico-2018/20180605" target="_blank"> <%= image_tag("evento.jpg", class: "img-responsive") %> </a> 
						</div>
           </div>

        </div>
        <div class="col-md-4">
          <div class="titulo-desigualdades">
            <h3>Participa con el #<span style="text-transform: lowercase;">desigualdad</span>ES</h3>
          </div>
          <a href="https://twitter.com/intent/tweet?button_hashtag=desigualdadES&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #desigualdadES</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <br>
          <a class="twitter-timeline" data-lang="es" data-width="400" data-height="880" data-dnt="true" data-theme="light" data-link-color="#6d959d" href="https://twitter.com/des_igualdades?ref_src=twsrc%5Etfw">Tweets by des_igualdades</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin de sección superior -->


  <!-- Sección de los medios -->
  <section class="section gallery-section-two ">
  <div class="container ">
    <div class="row ">
      <div class="titulo-desigualdades ">
        <h3>Medios</h3>
      </div>

<% if false %>
      <div class="col-md-4 col-md-offset-1 "> <a href="https://www.animalpolitico.com/ " target="_blank "><%= image_tag("animal-politico.jpg", class: "img-responsive") %></a> </div>
      <div class="col-md-4 col-md-offset-2 "> <a href="http://wradio.com.mx/ " target="_blank "><%= image_tag("wradio.jpg", class: "img-responsive") %></a> </div>
    </div>
<% end %>

  </div>
  <!-- Inicia Medios -->
    <div class="container ">
      <div class="row ">
        <div class="gallery-menu ">
          <ul>
            <li class="is_selected filtro" data-filter="* ">Todos</li>
<%if false %>
            <li class="filtro" data-filter=".tv">Televisión</li>
            <li class="filtro" data-filter=".radio">Radio</li>
<% end %>
            <li class="filtro" data-filter=".periodico">Periódico</li>
            <li class="filtro" data-filter=".linea">En línea</li>
						<li class="filtro" data-filter=".boletin">Boletines</li>
          </ul>
        </div>
      </div>
      <div class="row ">
        <div class="gallery ">
          <div class="all-gallery-items margen-superior ">

            <div class="single-item col-md-3 col-sm-12 boletin">
              <div class="gallery-img">
                <div class="customer-pic"><%= image_tag("thumb-colmex.jpg") %></div>
                <div class="review-description">
                  <div class="review-heading">
                    <h4>Boletín</h4></div>
                  <p class="review-date izquierda">Presentan Desigualdades en México 2018.<br><i>31 de mayo 2018</i></p>
                  <a href="http://desigualdades.colmex.mx/boletines/1-boletin-prensa-31-mayo.pdf" class="btn-two" target="_blank">Ver boletín</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-12 boletin">
              <div class="gallery-img">
                <div class="customer-pic"><%= image_tag("thumb-colmex.jpg") %></div>
                <div class="review-description">
                  <div class="review-heading">
                    <h4>Boletín</h4></div>
                  <p class="review-date izquierda">El COLMEX presentó el informe Desigualdades en México 2018.<br><i>5 de junio 2018</i></p>
                  <a href="http://desigualdades.colmex.mx/boletines/2-boletin-prensa-5-junio.pdf" class="btn-two" target="_blank">Ver boletín</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-12 linea">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("animal-politico-thumb.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Artículo</h4></div>
                  <p class="review-date izquierda ">Partidos hablan de desigualdad, pero no la entienden ni la atienden.<br><i>5 de junio 2018</i></p>
                  <a href=" https://www.animalpolitico.com/2018/06/partidos-hablan-de-desigualdad-pero-no-la-entienden-ni-la-atienden/" class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-12 periodico">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("la-jornada-thumb.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Artículo</h4></div>
                  <p class="review-date izquierda ">Caen opciones de educación y salario digno: informe del COLMEX.<br><i>5 de junio 2018</i></p>
                  <a href="http://www.jornada.com.mx/ultimas/2018/06/05/caen-oportunidades-de-eduacion-y-salario-digno-informe-del-colmex-1243.html" class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-12 linea">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("animal-politico-thumb.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Artículo</h4></div>
                  <p class="review-date izquierda ">El sueño mexicano: solo 2% de los pobres pueden llegar a ser ricos.<br><i>5 de junio 2018</i></p>
                  <a href="https://www.animalpolitico.com/2018/06/el-sueno-mexicano-solo-2-de-los-pobres-pueden-llegar-a-ser-ricos/" class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-12 periodico">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("reforma.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Artículo</h4></div>
                  <p class="review-date izquierda ">Tachan de vagos planes contra inequidad.<br><i>5 de junio 2018</i></p>
                  <a href="https://www.reforma.com/aplicaciones/articulo/default.aspx?id=1411830" class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>

<% if false %>
            <div class="single-item col-md-3 col-sm-12 tv">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("tv-unam.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Entrevista</h4></div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="https://www.youtube.com/embed/e_yNzfmduAw?autoplay=1 " data-rel="lightcase:grupoUnoVideos " class="btn-two ">Ver entrevista</a>
                </div>
              </div>
            </div>
            <div class="single-item col-md-3 col-sm-6 linea ">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("animal-politico-thumb.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Reportaje</h4></div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="http://www.eluniversal.com.mx/ " class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>
            <div class="single-item col-md-3 col-sm-6 periodico ">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("el-universal.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Nota</h4></div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="http://www.eluniversal.com.mx/elecciones-2018/santiago-creel-presenta-10-estrategias-sobre-seguridad-de-ricardo-anaya " class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>

            <div class="single-item col-md-3 col-sm-6 radio ">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("wradio-thumb.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Reportaje</h4></div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="http://wradio.com.mx/ " class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>
            <div class="single-item col-md-3 col-sm-6 radio ">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("aristegui.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Entrevista</h4></div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="https://aristeguinoticias.com/ " class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>
            <div class="single-item col-md-3 col-sm-6 periodico ">
              <div class="gallery-img ">
                <div class="customer-pic "><%= image_tag("reforma.jpg") %></div>
                <div class="review-description ">
                  <div class="review-heading ">
                    <h4>Opinión</h4>
									</div>
                  <p class="review-date izquierda ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="https://www.reforma.com/ " class="btn-two " target="_blank ">Ver nota</a>
                </div>
              </div>
            </div>
<% end %>


          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Fin de medios -->
<%= render 'inicio/footer' %>
