<!doctype html>
<html class="no-js" lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Red de estudios sobre desigualdades</title>
<meta name="description" content="En El Colegio de México, el estudio de los distintos tipos de desigualdad es una tradición. Se han explorado las desigualdades económicas, educativas, sociales y de género; así mismo se han preparado numerosas investigaciones sobre desigualdades regionales, de capacidades gubernamentales, de organización social o culturales con perspectivas tanto históricas como contemporáneas. La agenda de investigación de El Colegio incluye estudios sobre su origen y evolución, las interacciones entre los diversos ámbitos donde se producen, así como sobre los procesos políticos, económicos e institucionales que les dan forma.">
<link rel="icon" type="image/png" href="images/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootsrarp Css -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Font Awesome Css -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<!-- Reset Css -->
<link rel="stylesheet" href="assets/css/normalize.css">
<!-- Flaticon css  -->
<link rel="stylesheet" href="assets/font/flaticon.css">
<!-- Swiper Css -->
<link rel="stylesheet" href="assets/css/swiper.min.css">
<!-- LightCase css -->
<link rel="stylesheet" href="assets/css/lightcase.css">
<!-- flexSlider css -->
<link rel="stylesheet" href="assets/css/flexslider.css">
<!-- nstSlider css -->
<link rel="stylesheet" href="assets/css/jquery.nstSlider.css">
<!-- Main css -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93856341-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">Está usando un navegador <strong>obsoleto</strong>. Le sugerimos <a href="http://browsehappy.com/">actualizar su navegador</a> para mejorar su navegación.</p>
        <![endif]--> 
<!-- Sección del encabezado -->
<?php
phpinfo();
?>
<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="logo"> <a href="<%= root_path %>"><img src="<%= image_url("logo.png") %>" alt="Red de estudios sobre desigualdades" class="img-responsive"></a> </div>
        <div class="header-top-right">
          <ul>
            <!--li> <span class="flaticon-letter"></span>
              <div class="header-top-contact">
                <h5>Contáctanos</h5>
                <h6> <a href="mailto:trades@colmex.mx?subject=Seminario TRADES">trades@colmex.mx</a> </h6>
              </div>
            </li-->
            <li>
              <div class="social-icon">
                <ul>
                  <li><a href="https://twitter.com/des_igualdades" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area" id="menu-fixed">
    <div class="container">
      <div class="row"> <a href="<%= root_path %>" class="logo-menu"><img src="<%= image_url("fixed-logo.png") %>" alt="Red de estudios sobre desigualdades" /></a>
        <div class="nav-menu">
          <nav class="navbar navbar-default"> 
            <!-- Marca y hamburguesa para dispositivos pequeños -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
              <!-- Este menú sólo se mostrará en dispositivos de lectura --> 
              <span class="sr-only">Menú de navegación</span> <span class="icon-bar-one bar-stick"></span> <span class="icon-bar-two bar-stick"></span> <span class="icon-bar-three bar-stick"></span> </button>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"> <a href="<%= root_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Inicio</span></a> </li>
                <li><a href="<%= red_path %>">Sobre la Red</a></li>
                <li><a href="<%= seminarios_path %>"><span>Seminarios</span></a></li>
                <li><a href="<%= publicaciones_path %>"><span>Publicaciones</span></a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse --> 
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Fin de sección de encabezado --> 
<!-- Sección de slider -->
<section class="slider-section slider-style-two">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="slider-overlay"></div>
        <img src="<%= image_url("slide-two-01.jpg") %>" alt="Slider One Image">
        <div class="slider-content">
          <div class="container">
            <div class="row">
              <div class="slider-content-inner">
                <h2><img src="<%= image_url("intro.png") %>" alt="Red de estudios sobre desigualdades" class="img-responsive"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controles izquierdo y derecho --> 
    </div>
  </div>
</section>
<!-- Fin de slider --> 
<!-- Aquí irían los eventos --> 
<!-- Sección de ayuda -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
       <div class="causes-img"> <img src="<%= image_url("colmex.png") %>" alt="El Colegio de México"> </div>
		  <p>&nbsp;</p>
        <p>En El Colegio de México, el estudio de los distintos tipos de desigualdad es una tradición. Se han explorado las desigualdades económicas, educativas, sociales y de género; así mismo se han preparado numerosas investigaciones sobre desigualdades regionales, de capacidades gubernamentales, de organización social o culturales con perspectivas tanto históricas como contemporáneas.</p>
        <p>La agenda de investigación de El Colegio incluye estudios sobre su origen y evolución, las interacciones entre los diversos ámbitos donde se producen, así como sobre los procesos políticos, económicos e institucionales que les dan forma.</p>
        <a href="<%= red_path %>" class="btn-two">Más información</a> </div>
      <div class="col-md-5">
        <div class="helping-img"><a class="twitter-timeline" data-lang="es" data-width="400" data-height="600" data-link-color="#E81C4F" href="https://twitter.com/des_igualdades">Tweets by des_igualdades</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin sección de ayuda -->
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("trades.png") %>" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad" width="260"> <br>
        <p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cedua.colmex.mx/directorio/item/s%C3%A1nchez-pe%C3%B1a-landy-lizbeth.html" target="_blank">Landy Sánchez</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/8SnQVVPNw6w?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/ZYZCmFunfbU?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/eWb2M4Poqro?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/BykjexAPL3Y?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/TaVUJ9aRHHU?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/CEC06t_6qqs?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/H2ANspIXN00?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/DorfXrf7aUI?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/_dPQFCn_IA8?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/mbq0U3PjLY4?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/999kFh_ZWkw?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/azJ1E3Oo9Do?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/BVUqbXythNY?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/-NmnkuDAS_0?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/0IY88aic3Bw?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("migdep.png") %>" alt="Seminario permanente sobre migración, desigualdad y políticas públicas" width="260"> <br>
        <p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p><br>
              <p class="text-center"><a href="http://migdep.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/GEJGloH3EfA?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/NEcTi96eZc0?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/L2PBpXSyfPs?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/FFp6xJy7BJo?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/RKmGaENEPTg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Q5JO4BNTdgo?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/xYgWAjJqbgs?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/LYz4SlreS9w?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/eJh2oXbG3gU?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Ru8Kg0wMoNg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("sedes.png") %>" alt="Seminario permanente sobre desigualdad socioeconómica" width="260"> <br>
        <p>El Seminario permanente de Desigualdad Socioeconómica es coordinado por el Doctor <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>. En el año 2017 el Seminario se dedicará al análisis de las desigualdades educativas.<br></p>
              <p class="text-center"><a href="http://sedes.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Hc1WbGcl7DE?list=PLhIF5xewDHRw7GKFenyPu25flVLaxozCx" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <!--div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Ru8Kg0wMoNg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Logo Section -->
<!-- Inicio de sección de seminarios -->
<!--section class="section causes-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3><br>
          Seminarios en curso</h3>
      </div>
    </div>
    <div class="row">
      <div class="causes">
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/trades.png" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad"> </div>
            <div class="causes-content">
				<p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cedua.colmex.mx/directorio/item/s%C3%A1nchez-pe%C3%B1a-landy-lizbeth.html" target="_blank">Landy Sánchez</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/migdep.png" alt="Seminario permanente sobre migración, desigualdad y políticas públicas"> </div>
            <div class="causes-content">
				<p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p>
              <p class="text-center"><a href="red.html" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/sedes.png" alt="Seminario permanente sobre desigualdad socioeconómica, con énfasis en educación"> </div>
            <div class="causes-content">
				<p>Con la coordinación de <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>.<br><br><br><br></p>
              <p class="text-center"><a href="red.html" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- Fin de la sección de seminarios --> 
<!-- Pie de página -->
<footer class="footer-section">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2 col-sm-5 col-sm-offset-0">
          <div class="copyright-text">
            <p>&copy; 2017 <a href="https://www.colmex.mx">El Colegio de México, A.C.</a></p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2 col-xs-6 col-xs-offset-3">
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section --> 
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> 
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.0.min.js"><\/script>')</script> 
<!-- Bootstarp js --> 
<script src="assets/js/bootstrap.min.js"></script> 
<!-- Google Map --> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg"></script> 
<script src="assets/js/gmap.script.js"></script> 
<!-- Progressbar Js --> 
<script src="assets/js/circle.progress.js"></script> 
<!-- Count Down --> 
<script src="assets/js/TimeCircles.js"></script> 
<!-- Custom ScrollBar  --> 
<script src="assets/js/enscroll-0.6.2.min.js"></script> 
<!-- LightCase  --> 
<script src="assets/js/lightcase.js"></script> 
<!-- Isotop --> 
<script src="assets/js/isotope.pkgd.min.js"></script> 
<!-- Masonry --> 
<script src="assets/js/masonry.js"></script> 
<!-- Swipper --> 
<script src="assets/js/swiper.min.js"></script> 
<!-- Flex Slider --> 
<script src="assets/js/jquery.flexslider.js"></script> 
<!-- NST slider --> 
<script src="assets/js/jquery.nstSlider.min.js"></script> 
<!-- Main Js --> 
<script src="assets/js/functions.js"></script>
</body>
</html>
