
<!--[if lt IE 8]>
            <p class="browserupgrade">Está usando un navegador <strong>obsoleto</strong>. Le sugerimos <a href="http://browsehappy.com/">actualizar su navegador</a> para mejorar su navegación.</p>
        <![endif]--> 
<!-- Sección del encabezado -->
<%= render 'inicio/header' %>
<!-- Fin de sección de encabezado --> 
<!-- Sección de slider -->
<section class="slider-section slider-style-two">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="slider-overlay"></div>
        <img src="<%= image_url("slide-two-01.jpg") %>" alt="Slider One Image">
        <div class="slider-content">
          <div class="container">
            <div class="row">
              <div class="slider-content-inner">
                <h2><img src="<%= image_url("intro.png") %>" alt="Red de estudios sobre desigualdades" class="img-responsive"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controles izquierdo y derecho --> 
    </div>
  </div>


	<div class="row" style="margin:0;"> <!-- Fila para eventos -->
		<div class="col-md-12" id="div_eventos" style="padding:0;"> <!-- Columnas para eventos -->
			<div id="carouselEventos" class="carousel slide" data-ride="carousel" data-interval="false">

				<!-- Wrapper for slides -->
		    <div class="carousel-inner" id="render_eventos" role="listbox" >

		    </div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#carouselEventos" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" aria-hidden="true" style="display:table-cell;color:#993366;text-shadow:none;vertical-align:middle;"></i>
					<span class="sr-only">Anterior</span>
				</a>
				<a class="right carousel-control" href="#carouselEventos" role="button" data-slide="next">
					<i class="fa fa-chevron-right" aria-hidden="true" style="display:table-cell;color:#993366;text-shadow:none;vertical-align:middle;"></i>
					<span class="sr-only">Siguiente</span>
				</a>
			</div> <!-- Cierre de slider -->


		</div> <!-- Cierre de columnas para eventos -->
	</div> <!-- Cierre de fila para eventos -->



</section>
<!-- Fin de slider --> 
<!-- Aquí irían los eventos --> 
<!-- Sección de ayuda -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
       <div class="causes-img"> <img src="<%= image_url("colmex1.png") %>" alt="El Colegio de México"> </div>
		  <p>&nbsp;</p>
        <p>En El Colegio de México, el estudio de los distintos tipos de desigualdad es una tradición. Se han explorado las desigualdades económicas, educativas, sociales y de género; así mismo se han preparado numerosas investigaciones sobre desigualdades regionales, de capacidades gubernamentales, de organización social o culturales con perspectivas tanto históricas como contemporáneas.</p>
        <p>La agenda de investigación de El Colegio incluye estudios sobre su origen y evolución, las interacciones entre los diversos ámbitos donde se producen, así como sobre los procesos políticos, económicos e institucionales que les dan forma.</p>
        <a href="<%= red_path %>" class="btn-two">Más información</a> </div>
      <div class="col-md-5">
        <div class="helping-img"><a class="twitter-timeline" data-lang="es" data-width="400" data-height="600" data-link-color="#E81C4F" href="https://twitter.com/des_igualdades">Tweets by des_igualdades</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin sección de ayuda -->
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("trades.png") %>" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad" width="260"> <br>
        <p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cedua.colmex.mx/directorio/item/s%C3%A1nchez-pe%C3%B1a-landy-lizbeth.html" target="_blank">Landy Sánchez</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row">
<% if false %>

    
<% end %>
		<div id="trades-container">
			<div id="trades-left">
				<div id="trades-link-l" style="display:table;">
	<i class="fa fa-chevron-left" aria-hidden="true" style="display:table-cell;color:#993366;text-shadow:none;vertical-align:middle;" onclick="slide('prev');"></i>
				</div>
			</div>
			<div id="trades-cont">
				<div id="trades-vids">
				</div>
			</div>
			<div id="trades-right">
				<div id="trades-link-r" style="display:table;">
	<i class="fa fa-chevron-right" aria-hidden="true" style="display:table-cell;color:#993366;text-shadow:none;vertical-align:middle;" onclick="slide('next');"></i>
				</div>
			</div>
		</div>
  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("migdep.png") %>" alt="Seminario permanente sobre migración, desigualdad y políticas públicas" width="260"> <br>
        <p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p><br>
              <p class="text-center"><a href="http://migdep.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>

  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("sedes.png") %>" alt="Seminario permanente sobre desigualdad socioeconómica" width="260"> <br>
        <p>El Seminario permanente de Desigualdad Socioeconómica es coordinado por el Doctor <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>. En el año 2017 el Seminario se dedicará al análisis de las desigualdades educativas.<br></p>
              <p class="text-center"><a href="http://sedes.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Hc1WbGcl7DE?list=PLhIF5xewDHRw7GKFenyPu25flVLaxozCx" allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div>
          <!--div class="swiper-slide">
            <div class="single-logo">
                 <div class="cajavideo">
                  <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/Ru8Kg0wMoNg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"  allowfullscreen></iframe>
                  </div>
                </div>
                </div>
          </div-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Logo Section -->
<!-- Inicio de sección de seminarios -->
<!--section class="section causes-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3><br>
          Seminarios en curso</h3>
      </div>
    </div>
    <div class="row">
      <div class="causes">
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/trades.png" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad"> </div>
            <div class="causes-content">
				<p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cedua.colmex.mx/directorio/item/s%C3%A1nchez-pe%C3%B1a-landy-lizbeth.html" target="_blank">Landy Sánchez</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/migdep.png" alt="Seminario permanente sobre migración, desigualdad y políticas públicas"> </div>
            <div class="causes-content">
				<p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p>
              <p class="text-center"><a href="red.html" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-causes-box">
            <div class="causes-img"> <img src="images/sedes.png" alt="Seminario permanente sobre desigualdad socioeconómica, con énfasis en educación"> </div>
            <div class="causes-content">
				<p>Con la coordinación de <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>.<br><br><br><br></p>
              <p class="text-center"><a href="red.html" class="btn-two">Más información</a></p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- Fin de la sección de seminarios --> 
<!-- Pie de página -->
<%= render 'inicio/footer' %>
<!-- End Footer Section --> 
<style>
#trades-container{
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	height: 130px;
}

#trades-left, #trades-right{
	width: 25px;
	height: 100%;
	display: inline-block;
	background-color: rgba(131,131,131,0.3);
	color: #993366;
}

#trades-right, #trades-cont, #trades-left{
	float: left;
}

#trades-cont{
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	height: 100%;
	overflow:	hidden;
}

#trades-vids{
	height: 100%;
	position: relative;
}

#trades-link-r, #trades-link-l{
	display: table;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.vid-cont, .slide-vid{
	float: left;
	display: inline-block;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.slide-vid{
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
</style>
<script type="text/javascript">
	var trades_links = ["https://www.youtube.com/embed/8SnQVVPNw6w?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/ZYZCmFunfbU?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/eWb2M4Poqro?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/BykjexAPL3Y?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/CEC06t_6qqs?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/H2ANspIXN00?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/DorfXrf7aUI?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/_dPQFCn_IA8?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/mbq0U3PjLY4?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/999kFh_ZWkw?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/azJ1E3Oo9Do?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/BVUqbXythNY?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/-NmnkuDAS_0?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg","https://www.youtube.com/embed/0IY88aic3Bw?list=PLhIF5xewDHRzOPocgWse9lG5o3FQEkmwg"];

var migdep_links = ["https://www.youtube.com/embed/GEJGloH3EfA?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/NEcTi96eZc0?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/L2PBpXSyfPs?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/FFp6xJy7BJo?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/RKmGaENEPTg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/Q5JO4BNTdgo?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/xYgWAjJqbgs?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/eJh2oXbG3gU?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_","https://www.youtube.com/embed/Ru8Kg0wMoNg?list=PLhIF5xewDHRzgJYB3TKwsQlJY85JjxOk_"];

	function supportedProp(proparray){
		var root=document.documentElement //reference root element of document
		for (var i=0; i<proparray.length; i++){ //loop through possible properties
	    if (proparray[i] in root.style){ //if property exists on element (value will be string, empty string if not set)
	    	return proparray[i] //return that string
	    }
		}
	}

	function slide(side){
		var hijos = $("#trades-vids")[0].childNodes;
		if(hijos.length < 4) return true;
		var transition = supportedProp(["MozTransition","WebkitTransition","OTransition","transition"]);
		var width = hijos[1].style.width;
		if(side == "prev"){
			window.getComputedStyle(hijos[hijos.length-1]).width;
			hijos[hijos.length-1].style[transition] = "all 0 ease 0";
			hijos[hijos.length-1].style.width = 0;

			$("#trades-vids")[0].insertBefore(hijos[hijos.length-1],hijos[0]);

			window.getComputedStyle($("#trades-vids")[0].childNodes[0]).width;
			$("#trades-vids")[0].childNodes[0].style[transition] = "width 0.5s linear 0s";
			$("#trades-vids")[0].childNodes[0].style.width = width;


		}
		else{
			window.getComputedStyle(hijos[0]).width;
			hijos[0].style[transition] = "width 0.5s linear 0s";
			hijos[0].style.width = 0;
			setTimeout(function(){
			$("#trades-vids")[0].appendChild(hijos[0]);
			window.getComputedStyle($("#trades-vids")[0].childNodes[hijos.length-1]).width;
				$("#trades-vids")[0].childNodes[hijos.length-1].style[transition] = "all 0 ease 0s";
				$("#trades-vids")[0].childNodes[hijos.length-1].style.width = width;
			},501);
		}
	}

	function trace(cl,id,ind,link){
		var html = '<div class="vid-cont" style="text-align:center;" id="' + cl + '-'+ind+'"><div class="' + 'slide-vid' + '" id="' + id + "-" + ind + '">';
		html += '<iframe src="' + link + ' allowfullscreen"></iframe></div></div>';
		return html;
	}

	function renderSlider(parent,wrapper,container,links,cl,id,vpv,prop,resize){
		if(!resize) container.html("");
		for(var i = 0; i < links.length; i++){
			if(!resize) container.html(container.html() + trace(cl,id,i,trades_links[i]));
			$("#"+cl+"-"+i).css({'width':wrapper.width()/vpv});
			$("#"+id+"-"+i).css('width',wrapper.width()*prop /*0.5625*/);
			$("#"+id+"-"+i+" iframe").attr("width",wrapper.width()*prop).attr("height",wrapper.width()*prop*150/257);
			if(!resize && i>3 && i==links.length-1){
				container[0].insertBefore(container[0].childNodes[links.length-1],container[0].childNodes[0]);
			}
		}
		container.width(links.length * $("#"+id+"-0").width()).css("left",$("#"+id+"-0").width()*(-1));
		parent.css("height",wrapper.width()*prop);
	}

	$.ajax({
		method: 'get',
		dataType: 'JSON',
		url: '<%= root_path %>',
		success: function(result){
			scaleEvents(result["ev_big"],result["ev_med"],result["ev_small"]);
			renderSlider($("#trades-container"),$("#trades-cont"),$("#trades-vids"),trades_links,"trades-vid-cont","trades-slide-vid",3,0.24,false);
		}
	});

$(window).on("resize",function(){
			renderSlider($("#trades-container"),$("#trades-cont"),$("#trades-vids"),trades_links,"trades-vid-cont","trades-slide-vid",3,0.24,true);
});
</script>
