<%= render 'inicio/header' %>

<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("trades.png") %>" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad" width="260"> <br>
        <p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cei.colmex.mx/Pprofesores/C_Alba.html" target="_blank">Carlos Alba</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row" id="trades-slider">

  	</div>
	</div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("migdep.png") %>" alt="Seminario permanente sobre migración, desigualdad y políticas públicas" width="260"> <br>
        <p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p><br>
              <p class="text-center"><a href="http://migdep.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>

    <div class="row" id="migdep-slider">

  	</div>

  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("sedes.png") %>" alt="Seminario permanente sobre desigualdad socioeconómica" width="260"> <br>
        <p>El Seminario permanente de Desigualdad Socioeconómica es coordinado por el Doctor <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>. En el año 2017 el Seminario se dedicará al análisis de las desigualdades educativas.<br></p>
              <p class="text-center"><a href="http://sedes.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row" id="sedes-slider">

    </div>
  </div>
</section>
<!-- End Logo Section -->

<%= render 'inicio/footer' %>

