<%= render 'inicio/header' %>

<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("trades.png") %>" alt="Seminario permanente sobre  bienestar, trabajo y desigualdad" width="260"> <br>
        <p>Con financiamiento de la Fundación Ford y con la coordinación de <a href="http://cei.colmex.mx/Pprofesores/C_Alba.html" target="_blank">Carlos Alba</a>.<br><br></p>
				<p class="text-center"><a href="http://trades.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row" id="trades-slider">

  	</div>
	</div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("migdep.png") %>" alt="Seminario permanente sobre migración, desigualdad y políticas públicas" width="260"> <br>
        <p>Con financiamiento del Servicio Alemán de Intercambio Académico (DAAD) y con la coordinación de <a href="http://cedua.colmex.mx/masferrer_claudia.html" target="_blank">Claudia Masferrer</a>.</p><br>
              <p class="text-center"><a href="http://migdep.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>

    <div class="row" id="migdep-slider">

  	</div>

  </div>
</section>
<!-- End Logo Section -->
<hr>
<!-- Logo Section -->
<section class="section logo-section">
  <div class="container">
    <div class="row">
      <div class="section-heading"><img src="<%= image_url("sedes.png") %>" alt="Seminario permanente sobre desigualdad socioeconómica" width="260"> <br>
        <p>El Seminario permanente de Desigualdad Socioeconómica es coordinado por el Doctor <a href="http://ces.colmex.mx/140" target="_blank">Patricio Solís</a>. En el año 2017 el Seminario se dedicará al análisis de las desigualdades educativas.<br></p>
              <p class="text-center"><a href="http://sedes.colmex.mx/" target="_blank" class="btn-two">Más información</a></p>
      </div>
    </div>
    <div class="row" id="sedes-slider">

    </div>
  </div>
</section>
<!-- End Logo Section -->

<%= render 'inicio/footer' %>

<script type="text/javascript">

	$.ajax({
		method: 'get',
		dataType: 'JSON',
		url: 'http://pred1.colmex.mx/catalogo_videos.json?lista=Seminario%20sobre%20Trabajo%20y%20Desigualdades&all=true&crono=desc',
		success: function(result){
			var ancho = Math.max(document.documentElement.clientWidth, window.innerWidth || document.body.ClientWidth || 0);
			window.trades_vids = result;
			drawSlider($("#trades-slider"),result["vids"].length,"trades",3)
			renderSlider("trades",$("#trades-container"),$("#trades-cont"),$("#trades-vids"),result["vids"],"trades-vid-cont","trades-slide-vid",(ancho < 792 ? 2 : 3),(ancho < 792 ? 0.4 : 0.3),false,"trades");
		}
	});

	$.ajax({
		method: 'get',
		dataType: 'JSON',
		url: 'http://pred1.colmex.mx/catalogo_videos.json?lista=Seminario%20Migraci%C3%B3n,%20Desigualdad%20y%20Pol%C3%ADticas%20P%C3%BAblicas&all=true&crono=desc',
		success: function(result){
			var ancho = Math.max(document.documentElement.clientWidth, window.innerWidth || document.body.ClientWidth || 0);
			window.migdep_vids = result;
			drawSlider($("#migdep-slider"),result["vids"],"migdep",3)
			renderSlider("migdep",$("#migdep-container"),$("#migdep-cont"),$("#migdep-vids"),result["vids"],"migdep-vid-cont","migdep-slide-vid",(ancho < 792 ? 2 : 3),(ancho < 792 ? 0.4 : 0.3),false,"migdep");
		}
	});

	$.ajax({
		method: 'get',
		dataType: 'JSON',
		url: 'http://pred1.colmex.mx/catalogo_videos.json?lista=Seminario%20sobre%20Desigualdad%20Socioecon%C3%B3mica%20y%20Educativa&all=true&crono=desc',
		success: function(result){
			var ancho = Math.max(document.documentElement.clientWidth, window.innerWidth || document.body.ClientWidth || 0);
			window.sedes_vids = result;
			drawSlider($("#sedes-slider"),result["vids"],"sedes",3)
			renderSlider("sedes",$("#sedes-container"),$("#sedes-cont"),$("#sedes-vids"),result["vids"],"sedes-vid-cont","sedes-slide-vid",(ancho < 792 ? 2 : 3),(ancho < 792 ? 0.4 : 0.3),false,"sedes");
		}
	});

$(window).on("resize",function(){
			var ancho = Math.max(document.documentElement.clientWidth, window.innerWidth || document.body.ClientWidth || 0);
			renderSlider("trades",$("#trades-container"),$("#trades-cont"),$("#trades-vids"),window.trades_vids,"trades-vid-cont","trades-slide-vid",(ancho >= 792 ? 3 : (ancho >= 545 ? 2 : 1)),(ancho >= 792 ? 0.3 : (ancho >= 545 ? 0.4 : 0.47)),true,"trades");
			renderSlider("migdep",$("#migdep-container"),$("#migdep-cont"),$("#migdep-vids"),window.migdep_vids,"migdep-vid-cont","migdep-slide-vid",(ancho >= 792 ? 3 : (ancho >= 545 ? 2 : 1)),(ancho >= 792 ? 0.3 : (ancho >= 545 ? 0.4 : 0.47)),true,"migdep");
			renderSlider("sedes",$("#sedes-container"),$("#sedes-cont"),$("#sedes-vids"),window.sedes_vids,"sedes-vid-cont","sedes-slide-vid",(ancho >= 792 ? 3 : (ancho >= 545 ? 2 : 1)),(ancho >= 792 ? 0.3 : (ancho >= 545 ? 0.4 : 0.47)),true,"sedes");
});
</script>
