
<%= form_for(@obj, :remote => true, :url => {:controller => "panel", :action => (action_name == "editar" ? "editar" : "crear"), :params => {:set => params[:set], :id => (@obj.id if action_name == "editar")}}, :html => { :multipart => true }) do |f| %>
  <% if @obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obj.errors.count, "error") %> impidieron generar este objeto:</h2>

      <ul>
      <% @obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="field">
    <%= f.label :tipo, "Tipo de noticia" %><br>
    <%= f.select(:tipo,Tipo.all.collect{|ty| [ty.tipo,ty.tipo]}, selected: (@obj.tipo || Tipo.first.tipo)) %>
  </div>
  <div class="field">
    <%= f.label :fuente, "Medio que publica" %><br>
    <%= f.select(:fuente,Medio.all.collect{|m| [m.fuente,m.fuente]}, selected: (@obj.fuente || Medio.first.fuente)) %>
  </div>
  <div class="field">
    <%= f.label :titulo, "Título" %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :fecha, "Fecha de publicación" %><br>
    <%= f.text_field :fecha, {"data-provide" => "datepicker"} %>
  </div>

  <div class="field">
    <%= f.label :link, "Liga a la noticia" %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :filtro, "Categoría de filtrado" %><br>
    <%= f.select(:filtro,Filtro.all.collect{ |fi| [fi.filtro, fi.filtro]}, selected: (@obj.filtro || Filtro.first.filtro)) %>
  </div>
  <div class="actions">
    <%= f.submit "Generar noticia" %>
  </div>
<% end %>

<script>
$('#noticia_fecha').datepicker({
    format: 'yyyy-mm-dd',
		language: 'es'
 });
</script>

