<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
	<title><%= @title || "Red de Estudios sobre Desigualdades" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta property="og:image" content="<%= asset_url((@imagen_pauta || 'imagen-enlaces.png')) %>" />
	<meta property="og:description" content="En El Colegio de México, el estudio de los distintos tipos de desigualdad es una tradición. Se han explorado las desigualdades económicas, educativas, sociales y de género; así mismo se han preparado numerosas investigaciones sobre desigualdades regionales, de capacidades gubernamentales, de organización social o culturales con perspectivas tanto históricas como contemporáneas. La agenda de investigación de El Colegio incluye estudios sobre su origen y evolución, las interacciones entre los diversos ámbitos donde se producen, así como sobre los procesos políticos, económicos e institucionales que les dan forma." />
	<meta property="og:url"content="<%= informe_path %>" />
	<meta property="og:title" content="<%= @title || 'Red de Estudios sobre Desigualdades' %>" />

	<meta name="description" content="En El Colegio de México, el estudio de los distintos tipos de desigualdad es una tradición. Se han explorado las desigualdades económicas, educativas, sociales y de género; así mismo se han preparado numerosas investigaciones sobre desigualdades regionales, de capacidades gubernamentales, de organización social o culturales con perspectivas tanto históricas como contemporáneas. La agenda de investigación de El Colegio incluye estudios sobre su origen y evolución, las interacciones entre los diversos ámbitos donde se producen, así como sobre los procesos políticos, económicos e institucionales que les dan forma.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-93856341-1', 'auto');
		ga('send', 'pageview');

	</script>
	<script type="text/javascript">
	$(document).on('page:change', function() {
		ga('send', 'pageview', window.location.pathname);
	});
	</script>
	<link rel="stylesheet" href="/css/_b_alt.css">
	<link rel="stylesheet" href="/css/flexslider.css">
	<link rel="stylesheet" href="/css/jquery.nstSlider.css">
	<link rel="stylesheet" href="/css/lightcase.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="/css/swiper.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/inicio.css">
</head>
<body>

<%= yield %>
</body>
</html>
